*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;

}
.container {
    width: 80%;
    border: 1px dashed red;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%;

}

header{
    width: 100%;
    min-height: 3em;
    background: #1F2937;
    color: #ffffff;
    
    
}
.container ul{
    display: flex;
    gap: 1em;


}
a{
    color: #E5E7EB;
}


#hero-section {
    width: 100%;
    background-color: #1F2937;
}

.hero {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 50px;   
}

.subheader {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}   
.subtext {
    margin: 85px 0px 0px;
    font-size: 48px;
    font-weight: bolder;
    color: white;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    background-color: #3882F6;   
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 90px;
}   

.button:hover {
    background-color: #4a6083;
}

.box{
    display : flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}
img{
    width: 80%;
    height: 200px;
}
